// Your custom styles

@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,400;1,700;1,800;1,900&display=swap";
body{
    font-family: 'Nunito', sans-serif !important;
    background-color: #fff;
    color: $default-color;
    font-weight: normal;
    font-size: 1.4vw;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d0cfcf;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d8143b;
    border-top-left-radius: 20px;
}
p {
    color: $default-color;
    font-weight: normal;
    font-size: 1.4vw;
}
.font8-px{
    font-size: 8px;
}
.font10-px{
    font-size: 10px;
}
.font11-px{
    font-size: 11px;
}
.font12-px {
    font-size: 1.0416666666666667vw;
}
.font14-px{
    font-size: 14px !important;
}
.font16-px{
    font-size: 16px;
}
.font17-px{
    font-size: 17px;
    line-height: 18px;
}
.font18-px{
    font-size: 18px;
}
.font20-px{
    font-size: 20px;
}
.font22-px{
    font-size: 22px;
}
.font30-px{
    font-size: 2.6041666666666665vw;
}
.line-height-14{
    line-height: 14px;
}
.btn-progres {
    border: none;
    border-radius: 2rem;
    background: linear-gradient(90deg, #C22645 0%, transparent 0%);
    animation: prog 2s linear;
}
button {
    text-transform: none !important;
    height: 3.61vw !important;
    font-size: 1.12vw !important;
    padding: 0 4.55vw !important;
}

.img-upload-cedula {
    width: 100px;
}
.img-upload-selfie {
    width: 80px;
}
.img-foto-invalida{
    width: 200px;
}
.select-date-top{
    margin-top: 4.079861111111111vw;
}
.transform-x-step-plus {
    transform: translateX(12.114583vw) !important;
}
.fondo-foto-invalid{
    width: 80%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 62%;
    margin: 0px auto;
    z-index: -1;
}
.img-checke{
    width: 80px;
}
.credito-listo-radio-botton-group{
    transform: translateX(50%);
    left: -75px;
}
.ul-mejores-usuarios li {
    list-style: none;
}
@keyframes prog {
    0%  { background: linear-gradient(90deg, #9b1015 0%, transparent 0%); }
    2%  { background: linear-gradient(90deg, #9b1015 2%, transparent 0%); }
    4%  { background: linear-gradient(90deg, #9b1015 4%, transparent 0%); }        
    6%  { background: linear-gradient(90deg, #9b1015 6%, transparent 0%); }       
    8%  { background: linear-gradient(90deg, #9b1015 8%, transparent 0%); }      
    10% { background: linear-gradient(90deg, #9b1015 10%, transparent 0%); }
    12% { background: linear-gradient(90deg, #9b1015 12%, transparent 0%); }
    14% { background: linear-gradient(90deg, #9b1015 14%, transparent 0%); }
    16% { background: linear-gradient(90deg, #9b1015 16%, transparent 0%); }
    18% { background: linear-gradient(90deg, #9b1015 18%, transparent 0%); }
    20% { background: linear-gradient(90deg, #9b1015 20%, transparent 0%); }
    22% { background: linear-gradient(90deg, #9b1015 22%, transparent 0%); }
    24% { background: linear-gradient(90deg, #9b1015 24%, transparent 0%); }
    26% { background: linear-gradient(90deg, #9b1015 26%, transparent 0%); }
    28% { background: linear-gradient(90deg, #9b1015 28%, transparent 0%); }
    30% { background: linear-gradient(90deg, #9b1015 30%, transparent 0%); }
    32% { background: linear-gradient(90deg, #9b1015 32%, transparent 0%); }
    34% { background: linear-gradient(90deg, #9b1015 34%, transparent 0%); }
    36% { background: linear-gradient(90deg, #9b1015 36%, transparent 0%); }
    38% { background: linear-gradient(90deg, #9b1015 38%, transparent 0%); }
    40% { background: linear-gradient(90deg, #9b1015 40%, transparent 0%); }
    42% { background: linear-gradient(90deg, #9b1015 42%, transparent 0%); }
    44% { background: linear-gradient(90deg, #9b1015 44%, transparent 0%); }
    46% { background: linear-gradient(90deg, #9b1015 46%, transparent 0%); }
    48% { background: linear-gradient(90deg, #9b1015 48%, transparent 0%); }
    50% { background: linear-gradient(90deg, #9b1015 50%, transparent 0%); }
    52% { background: linear-gradient(90deg, #9b1015 52%, transparent 0%); }
    54% { background: linear-gradient(90deg, #9b1015 54%, transparent 0%); }
    56% { background: linear-gradient(90deg, #9b1015 56%, transparent 0%); }
    58% { background: linear-gradient(90deg, #9b1015 58%, transparent 0%); }
    60% { background: linear-gradient(90deg, #9b1015 60%, transparent 0%); }
    62% { background: linear-gradient(90deg, #9b1015 62%, transparent 0%); }
    64% { background: linear-gradient(90deg, #9b1015 64%, transparent 0%); }
    66% { background: linear-gradient(90deg, #9b1015 66%, transparent 0%); }
    68% { background: linear-gradient(90deg, #9b1015 68%, transparent 0%); }
    70% { background: linear-gradient(90deg, #9b1015 70%, transparent 0%); }
    72% { background: linear-gradient(90deg, #9b1015 72%, transparent 0%); }
    74% { background: linear-gradient(90deg, #9b1015 74%, transparent 0%); }
    76% { background: linear-gradient(90deg, #9b1015 76%, transparent 0%); }
    78% { background: linear-gradient(90deg, #9b1015 78%, transparent 0%); }
    80% { background: linear-gradient(90deg, #9b1015 80%, transparent 0%); }
    82% { background: linear-gradient(90deg, #9b1015 82%, transparent 0%); }
    84% { background: linear-gradient(90deg, #9b1015 84%, transparent 0%); }
    86% { background: linear-gradient(90deg, #9b1015 86%, transparent 0%); }
    88% { background: linear-gradient(90deg, #9b1015 88%, transparent 0%); }
    90% { background: linear-gradient(90deg, #9b1015 90%, transparent 0%); }
    92% { background: linear-gradient(90deg, #9b1015 92%, transparent 0%); }
    94% { background: linear-gradient(90deg, #9b1015 94%, transparent 0%); }
    96% { background: linear-gradient(90deg, #9b1015 96%, transparent 0%); }
    98% { background: linear-gradient(90deg, #9b1015 98%, transparent 0%); }
    100% { background: linear-gradient(90deg, #9b1015 100%, transparent 0%); }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h3 {
    font-size: 2.435vw;
}
h6 {
    font-size: 1.3888888888888888vw;
}
h5 {
    font-size: 2.2569444444444446vw;
}
.font-weight-300{
    font-weight: 300;
}
.left-content{
    overflow-y: scroll;
    height: 100vh;
}
.logo {
    width: 16.145833333333332vw;
    height: 3.8949652777777777vw;
    margin-bottom: 1.4756944444444444vw;
    margin-top: 2.951388888888889vw;
}
.content-title {
    margin-top: 2.6041666666666665vw;
}
.nav-link {
    display: block;
    padding: 0.6944444444444444vw 1.3888888888888888vw;
}
.lateral-bar {
    box-shadow: -1px 0px 26px 0px #00000024;
    height: 100vh;
    background-image: url(../img/svg/background-lateral-bar-1.svg);
    background-position-y: 24rem;
    background-repeat: no-repeat;
    background-position: center 32.8046875vw;
    padding-top: 7.8125vw;
}
.lateral-bar-small {
    -webkit-box-shadow: -1px 0px 26px 0px #00000024;
    box-shadow: -1px 0px 26px 0px #00000024;
    height: 100vh;
    background-image: url(../img/svg/background-lateral-bar-1.svg);
    background-position-y: 24rem;
    background-repeat: no-repeat;
    background-position: center 83vh;
    padding-top: 6.9vw;
}
#tab-content{
    height: 100vh;
    overflow-y: auto;
}
.tab-content{
    height: 42.090278vw !important;
}
.custom-control-label::before {
    top: 0rem;
}
.custom-control-label::after {
    top: 0rem;
}
.crediminutos-text-primary {
    font-size: 5.2vw;
}
.modal-header .close {
    padding: 1rem 1rem !important;
    margin: -1rem -1rem -1rem auto;
}
.mt-linea-1{
    margin-top: 4.340277777777778vw;
}
.mt-social-ico-1{
    margin-top: 2.5086805555555554vw;
}

.ml-10-px{
    margin-left: 0.8680555555555556vw;
}
.img-lateral-small {
    width: 10.921006944444445vw !important;
    z-index: 1;
}
.container-img-lateral-small{
    position: absolute;
    left: 0;
    bottom: 9vh;
    right: 0;
}
.label-text-center label {
    position: relative;
    top: -3.4722222222222223vw;
}
.border-bottom {
    border-bottom: 0.08680555555555555vw solid #dee2e6!important;
}
.label-text-center .valid-feedback {
    margin-top: -1.5rem;
}
.label-text-center small {
    margin-top: -25px;
}
.iconos-sociales{
    width: 4.25vw;
}
.icono-whatsapp{
    width: 25px;
    position: relative;
    top: -1px;
    margin-left: 3px;
}
.img-disponible{
    width: 200px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #D8143B;
    background-color: #D8143B;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #f9afbe;
    border-color: #D8143B1c;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgb(251, 153, 173);
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #f97a94;
}

.step-crediminuto a:before {
    content: "";
    background: #ffffff;
    width: 1.9097222222222223vw;
    height: 1.9097222222222223vw;
    position: absolute;
    border-radius: 21.7361111111111112vw;
    border: 0.2604166666666667vw solid #ffffff;
    margin: 0 0 0 -2.517361111111111vw;
    box-shadow: 0 0 0 0.13020833333333334vw #d4d3d3;
}

.step-crediminuto .active:before {
    content: "";
    background: #D8143B;
    width: 1.9097222222222223vw;
    height: 1.9097222222222223vw;
    position: absolute;
    border-radius: 1.7361111111111112vw;
    border: 0.2604166666666667vw solid #ffffff;
    margin: 0 0 0 -2.517361111111111vw;
    box-shadow: 0 0 0 0.08680555555555555vw #D8143B;
}


.step-crediminuto .done:before {
    content: "";
    background: #D8143B;
    width: 1.9097222222222223vw;
    height: 1.9097222222222223vw;
    position: absolute;
    border-radius: 1.7361111111111112vw;
    border: 0.2604166666666667vw solid #ffffff;
    margin: 0 0 0 -2.517361111111111vw;
    box-shadow: 0 0 0 0.08680555555555555vw #D8143B;
}
.step-crediminuto a:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: 3.90625vw;
    background: #d4d3d3;
    left: -0.2170138888888889vw;
    margin-top: -0.5208333333333334vw;
    z-index: -1;
}
.step-crediminuto li:last-child a:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: auto;
    background: none;
    left: -0.2170138888888889vw;
    margin-top: 1.9965277777777777vw;
}

.step-crediminuto li:nth-last-child(2) a:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: 3.90625vw;
    background: transparent;
    left: -0.2170138888888889vw;
    margin-top: -0.5208333333333334vw;
    z-index: -1;
}
.step-crediminuto .done:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: 3.90625vw;
    background: #D8143B;
    left: -0.2170138888888889vw;
    margin-top: -0.5208333333333334vw;
    z-index: -1;
}
.step-crediminuto li:nth-child(1n+13) .done:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: 3.90625vw;
    background: transparent;
    left: -0.2170138888888889vw;
    margin-top: -0.5208333333333334vw;
    z-index: -1;
}
.step-crediminuto li:nth-child(1n+13) a:after {
    content: "";
    position: absolute;
    width: 0.08680555555555555vw;
    height: 3.90625vw;
    background: transparent;
    left: -0.2170138888888889vw;
    margin-top: -0.5208333333333334vw;
    z-index: -1;
}
.svg-errors{
    width: 13px
}
.img-btn-store{
    width: 11.284722222222221vw;
}
.label-text-center input {
    text-indent: 0px !important;
}
.step-crediminuto a h6{
    opacity: 0.5;
}
.step-crediminuto .active h6{
    opacity: 10;
    color: #C22645;
}
.step-crediminuto .done h6{
    opacity: 10;
    color: #C22645;
}
.step-mt{
    margin-top: 1.9965277777777777vw;
}
.credimunuto-label label.active {
    transform: translateY(-6px) scale(0.8) translateX(20px);
}
.credimunuto-label label {
    transform: translateY(12px) translateX(20px);
}
.select2-container .select2-search--inline .select2-search__field {
    width: 100% !important;
    border: none;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #ced4da;
    border-radius: 0 30px 30px 0;
    height: 3.90625vw;
    margin-top: 0;
    outline: none;
    position: absolute;
}
span.select2 {
    width: 100% !important;
}
.fondo-mapa {
    background-image: url('../img/svg/mapa.svg');
    height: 33.767361111111114vw;
    position: absolute;
    width: 54.427083333333336vw;
    margin-top: 2.7777777777777777vw;
}
.input-group-text {
    padding: 0.6076388888888888vw 0.607639vw;
}
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 20.506944vw !important;
    height: 45px;
    border: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    outline: 0;
    height: 45px;
    border: none !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: none !important;
    border-radius: 4px;
    cursor: text;
    height: 45px;
}


.input-text-indent{
    text-indent: 15px;
}
li.my-1 {
    margin: 0.08680555555555555vw 0 !important;
}

.btn-light.disabled, .btn-light:disabled {
    color: #ffffff;
    background-color: #c5c5c5 !important;
    border-color: #f8f9fa;
    opacity: 1;
}
.closed-time-x{
    display: block;
    position: absolute;
    right: 3.4722222222222223vw;
    top: 2.0833333333333335vw;
    font-size: 1.7361111111111112vw;
    color: #a2a2a2;
}
.tab-content{
    padding: 0px;
    padding-top: 0px;
    // height: auto !important;
    height: 48.09027777777778vw;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: none;
    border-color: #ced4da;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #ced4da;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    border: none;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    padding: 0 5px;
}
.select2-container--open .select2-dropdown--below {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100% !important;
    position: relative;
    border-radius: 10px !important;
    border-top: 1px solid #ced4da;
    padding: 10px !important;
    margin-top: 13px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ffffff;
    color: #666;
}
.iconos-status{
    width: 7.204861111111111vw;
}
.caritas{
    width: 34px;
}
.content-btn-continuar{
    position: relative;
    left: 0;
    right: 0;
}
.btn-continuar{
    position: absolute;
    left: 0;
    right: 0;
    // bottom: 25px;
}

.transform-center{
    transform: translate(10px, 10px);
}
.transform-center-step {
    transform: translateX(9.114583333333334vw);
    left: -8.159722222222221vw;
}
.puntos{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 4px;
}
.container-img-lateral-small-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.sw-theme-default{
    border: none;
}
.input-span{
    margin-top: 10px;
    position: absolute;
    margin-left: -2.8645833333333335vw;
}
.input-link{
    position: absolute;
    right: 2.4305555555555554vw;
    margin-top: -1.9965277777777777vw;
    z-index: 9999;
}
.disabled{
    opacity: .5;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 black;
    border-radius: 0px 30px 30px 0px;
}
.form-control {
    border-radius: 0px 30px 30px 0px;
}
.input-group-text {
    background: none;
    border-radius: 40px 0px 0px 40px;
    color: #D8143B;
    height: 3.90625vw;
}
.icono-brujular{
    width: 18px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #D8143B;
}
input:disabled{
    border-bottom: 1px solid transparent  !important;
}
.img-1 {
    width: 10.9375vw;
    margin-top: 5.729166666666667vw;
}
.select-wrapper span.caret {
    position: absolute;
    top: 0.8rem;
    right: 30px;
    font-size: 0.63rem;
    color: #c22645;
}
.content-aceptada{
    overflow-y: auto;
    height: 100vh;
}
@media (min-width: 768px){
    .modal-backdrop {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        position: absolute;
        right: 0 !important;
        left: auto;
        z-index: 1040;
        width: 62vw;
       
    }
    .modal {
        position: absolute;
    }
 
}
.desplegable{
    left: 55.077295vw !important;
}
.label-data-birth{
    transform: translateY(-14px) scale(0.8) translateX(20px) !important;
    font-size: 1rem !important;
}
::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url('../img/svg/calendar.svg') no-repeat;
    background-size: contain;
    transform: translateX(-11px);
}
.toolbar .toolbar-bottom {
    display: none !important;
}

.img-rechazado {
    width: 9.809027777777779vw;
}
.bar-code {
    width: 26.041666666666668vw;
}
.content-upload-file {
    margin: 3vw auto;
}
.icono-upload-file {
    width: 4vw;
    height: 3vw;
}
.img-mueble {
    width: 30vw;
}
@media (max-width: 768px){
    .img-mueble {
        width: 80vw;
    }
    .content-aceptada{
        overflow-y: auto;
        height: 122vw;
    }
    .content-aceptada-2 {
        overflow-y: auto;
        height: 80vh;
    }
    .btn{
        font-size: $btn-font-size-basic_movil;
    }
    .svg-errors{
        width: 14px
    }
    .font30-px {
        font-size: 8.604167vw;
    }
    .botton-btn{
        bottom: 17.173252279635257vw;
    } 
    .left-0{
        left: 0;
    } 
    .right-0{
        right: 0;
    }
    .img-1 {
        width: 34.4984802431611vw;
        height: 94.68085106382979vw;
        top: 36.93009118541033vw;
        right: 14.74164133738602vw;
        position: absolute;
    }
    .inicio-text-1{
        margin-top: 16.109422492401215vw;
        margin-left: 10.790273556231003vw;
    }
    .inicio-text-2{
        margin-left: 10.790273556231003vw;
        margin-top: 6.079027355623101vw;
    }

    .logo {
        width: 46.41945288753799vw;
        height: 11.158054711246201vw;
        margin-bottom: 5.06079027355623vw;
        margin-top: 6.762917933130699vw;
    }

    .label-text-center input {
        text-indent: initial !important;
    }
    ::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    .content-title{
        margin-top: 9.422492401215806vw;
    }

    .text-indent{
        text-indent: 19px !important;
    }

    .content-btn-continuar {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .icono-slider {
        width: 20%!important;
    }
    .credito-listo-radio-botton-group {
        transform: translateX(0%);
        left: 0;
        padding-left: 25%;
    }
    .modal.show .modal-dialog {
        transform: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    .modal-dialog .modal-content{
        border-radius: 20px 20px 0px 0px;
    }
    .lateral-bar-0 {
        background-position: center 67vh;
    }
    
    body {
        font-size: 3.7993920972644375vw;
    }

    
    .crediminutos-text-primary {
        font-size: 14.492753623188406vw;
    }
    p {
        font-size: 3.7993920972644375vw;
    }
    button {
        text-transform: none !important;
        height: 12.61vw !important;
        font-size: 3.7993920972644375vw !important;
        padding: 0 4.55vw !important;
    }
    .line-height-movil{
        line-height: 40px;
    }
    h3{
        font-size: 9.903381642512077vw;
    }

    .lateral-bar {
        padding-top: 1px;
    }
    .label-text-center label {
        position: relative;
        top: -10.472222vw;
    }

    .md-form label {
        font-size: 3.7993920972644375vw;
    }
    .iconos-sociales {
        width: 11.398176291793312vw;
    }
    .form-control {
        font-size: 4.25531914893617vw;
    }
    .mt-linea-1 {
        margin-top: 18.84498480243161vw;
    }
    .mt-social-ico-1 {
        margin-top: 5.508681vw;
    }

    .md-form {
        position: relative;
        margin-top: 9.118541033434651vw;
        margin-bottom: 9.118541033434651vw;
        padding-top: 5.319148936170213vw;
        label {
            &.active {
                transform: translateY(-14px);
                font-size: 2.5835866261398177vw !important;
            }
        }
    }
    .credimunuto-label label {
        transform: translateY(6.966184vw) translateX(20px);
    }
    .credimunuto-label label.active {
        transform: translateY(15px) scale(1) translateX(20px);
    }
    h5{
        font-size: 6.280193236714976vw;
    }
    .img-btn-store {
        width: 38.284722vw;
    }
    .input-span {
        margin-top: 10px;
        position: absolute;
        margin-left: -6.864583vw;
    }
    .input-link {
        position: absolute;
        right: 6.430556vw;
        margin-top: -6.996528vw;
        z-index: 9999;
    }
    .input-group-text {
        background: none;
        border-radius: 40px 0px 0px 40px;
        color: #D8143B;
        height: 13.90625vw;
        padding: 4.830917874396135vw;
        font-size: 5.864734vw;
    }
    .select2-container .select2-search--inline .select2-search__field {
        width: 100% !important;
        border: none;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #ced4da;
        border-radius: 0 30px 30px 0;
        height: 13.90625vw;
        margin-top: 0;
        outline: none;
        position: absolute;
    }
    .desplegable{
        top: 81.40096618357488vw !important;
        left: 12.077294685990339vw !important;
        width: 77.29468599033817vw !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 8px 5px;
        width: 100%;
    }
    .card h6 {
        font-size: 19px;
        padding: 7px 0;
    }
    
    .card small {
        font-size: 13px;
    }
    h6 {
        font-size: 4.388889vw;
    }
    .fondo-mapa {
        background-image: url(../img/svg/mapa-movil.svg);
        height: 111.767361vw;
        position: absolute;
        width: 94.427083vw;
        margin-top: 2.7777777777777777vw;
    }
    #tab-content {
        height: 130vw !important;
    }
    .font12-px{
        font-size: 3.3333333333333335vw;
    }
    .icono-upload-file{
        width: 12.917933130699089vw;
        height: 10.030395136778116vw;
    }
    .content-upload-file {
        margin-top: 10.030395136778116vw;
        margin-bottom: 10.030395136778116vw;
    }
    .mt-content-upload{
        padding-top: 7.598784194528875vw;
    }
    .my-vw-1 {
        margin: 7vw 0;
    }
    .my-vw-2 {
        margin: 15vw 0;
    }
    .owl-dots {
        margin-top: -14vw !important;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #D8143B;
    }
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    .captura-content {
        background: #444242;
        height: 100vh;
        padding-top: 10vh;
    }
    .my-upload-file{
        margin: 8.51063829787234vw 0;
    }
    input:disabled{
        border-bottom: none !important;
    }
    .select-wrapper span.caret {
        position: absolute;
        top: 1.8rem;
        right: 30px;
        font-size: 0.63rem;
        color: #c22645;
    }
    .select-wrapper {
        position: relative;
        padding-top: 2.2vw !important;
        input {
            &.select-dropdown {
                font-size: 4.25531914893617vw; 
            }
        }
    }
    
    .fa-arrow-left{
        position: absolute;
        font-size: 6vw;
        color: #d8143b;
        margin-top: 1.5vh;
        margin-left: 2vh;
    }
    .caritas{
        width: 10.638297872340425vw;
    }
    .iconos-status{
        width: 17.173252279635257vw;
    }
    .img-rechazado {
        width: 27.203647416413375vw;
        margin: 5.775075987841945vw 0 9.72644376899696vw 0;
    }
    .bar-code {
        width: 75.51215805471125vw;
        margin-top: 7vw;
    }

}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}